footer
{
    background-color: white;
    height: 60px;
    width: 100%;
    border: none;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    line-height: 30px;
    position: relative;
    bottom: 0;
}